$font-stack: 'Poppins', sans-serif;
$common-font-size: 16px;
$background-color: #fafafa;
$primary-accent-color-light: #4a5e2d;
$primary-accent-color-dark: #1f2f1c;
$primary-color-light: white;
$primary-color-grey: #666666;
$primary-color-dark: #333333;
