$font-stack: 'Poppins', sans-serif;
$common-font-size: 16px;
$background-color: #fafafa;
$primary-accent-color: #73a5fa;
$primary-color-light: white;
$primary-color-grey: #666666;
$primary-color-dark: #333333;
